html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
h1{
  color: #0F3376;
  padding: 2vh;
}
p{
  font-size: 1.5rem;
}
.button {
  display: inline-block;
  background-color: #008CBA;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px 15px #999;
  color: white;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}
.button2 {
  background-color: #f44336;
}
.button:hover {background-color: #004CBA}
.button:active {
  background-color: #005977;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button2:active {
  background-color: #bb4336;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}